body{
 background: black;
 background-image: url('../img/colorwallpaper.jpg');
 color: yellow;
 background-size: 100%;
 background-repeat: no-repeat;
 font-family: neonLights;
 font-size: 6em;
 font-style: bold;
 text-align: center;
 margin: 0 auto;
 text-transform: uppercase;
}

button{
  height: 30px;
  width: 110px;
  font-size: 15px;
  opacity: .40;
  margin-top: 10px;
  padding: 3px;
}

 @font-face {
    font-family: neonLights;
    src: url(../fonts/NEON_LIGHTS.woff)}

/*GAME GRID*/

.animationgrid{
  display: inline-block;
  position: relative;
  margin-top: 80px;
  margin: 0 auto;
  width: 490px;
  height:450px;
  animation-name: animations;
  animation-duration: 4s;
  animation-delay: .2s;
  animation-iteration-count: 5;
  -webkit-animation-name: animations;
  -webkit-animation-delay: .2s;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: 1;
}

@-webkit-keyframes animations{
    0%{background-color: transparent;
       position: relative;
        transform: rotateZ(180deg);
        transform: rotateY(360deg);
      }

    100%{background-color: transparent;
      position: relative;
      width: 490px;
      height:450px;
      }
}

.gamegrid{
  position: relative;
  margin-top: 20px;
  padding: 5%;
  width: 490px;
  height: 450px;
  margin: 0 auto;
  text-align: center;
  color: yellow;
  opacity: .80;
}

.container{
  display: inline-block;
  margin-top:20px;
  position: relative;
  float: left;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  background: url('../img/soundwave2.jpg');
  opacity: .90;
  background-position: center;
  background-size: 135px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  animation-name: circlespin;
  animation-duration: 2s;
  animation-delay: .2s;
  animation-iteration-count: 1;
  -webkit-animation-name: circlespin;
  -webkit-animation-delay: .2s;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 2;
}

@-webkit-keyframes circlespin{
    0%{background-color: transparent;
       position: absolute;
        transform: rotateZ(180deg);
        transform: rotateY(360deg);
      }
     50%{background-color: transparent;
     position: absolute;
      border-radius: 90% ;
      transform: rotateZ(180deg);
      transform: rotateY(360deg);
      }
    100%{background-color: transparent;
      position: absolute;
      width: 150px;
      height:150px;
      }

}

 .circles{
  background: rgba(0,0,0,.5);
  position: absolute;
  margin: auto;
  width: 0px;
  height: 0px;
  top: 0;
  right: 70;
  bottom: 96;
  left: 0;
  border-radius: 50%;
  text-align: center;
  text-decoration: bold;
  opacity: .80;
  transition: .6s ease;


}

.container:hover .circles{
  opacity: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  float:right;
}

/*GAME END CSS*/
.gameEnd {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: .80;
  text-align: center;
  padding-top: 20%;
  font-size: 50px;
  text-transform: uppercase;
  z-index: 1;

}

.tieGameEnd {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: .80;
  text-align: center;
  padding-top: 20%;
  font-size: 50px;
  text-transform: uppercase;
  z-index: 1;

}

#playAgain {
  margin-top:50px;
  background-color: transparent;
  border: 1px solid yellow;
}

/*BOTTOM PAGE*/
#header {
  font-family: neonLights;
  font-size: 40px;
  text-align: center;
  color: yellow;
  margin-top: 50px;
  animation-name: glow;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  -webkit-animation-name: glow;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
}

  @-webkit-keyframes glow{
  0%,100%{ text-shadow:0 10 40px yellow; }
  25%{ text-shadow:0 10 40px orange; }
  50%{ text-shadow:0 10 40px limegreen; }
  75%{ text-shadow:0 10 40px yellow; }
}

#Reset {
  margin-top: 30px;
  background: transparent;
  border: 1px solid yellow;
  opacity: .9;

}

.lowerthird{
  display: inline-block;
  font-size: 25px;
  height: 500px;
  width: 810px;
  margin: 0 auto;
  animation-name: lowerthirdmove;
  animation-duration: 5s;
  animation-iteration-count: 1;
  -webkit-animation-name: lowerthirdmove;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
}

@-webkit-keyframes lowerthirdmove{
    0%{ margin-top:100%;
        color: transparent;
      }
    100%{background-color: transparent;

    }
}

#playerOnePoints{

  float: left;
  opacity: .90;
}

#playerTwoPoints{

  float: right;
  opacity: .90;

}
/*LOGIN STYLES*/
.loginwrapper{

  display: inline-block;
  clear:none;
  margin: 0 auto;
  height:200px;
  width: 810px;
}

#loginNameX{
  opacity: 100;
  position: relative;
  float: left;
  height: 29px;
  width: 102px;
  display: inline-block;
  border: 1px solid yellow;
  font-size:13px;
  margin: 0 auto;
  margin-top: 10px;
  background: transparent;
  text-transform: uppercase;
  padding: 2px;

}

#loginNameO{
  opacity: 100;
  position:relative;
  float: right;
  height: 29px;
  width: 102px;
  display: inline-block;
  border: 1px solid yellow;
  font-size:13px;
  margin: 0 auto;
  margin-top: 10px;
  background: transparent;
  text-transform: uppercase;
  padding: 2px;
}

#loginSubmitX{
  color: limegreen;
  opacity:.9;
  height: 28px;
  position:relative;
  width: 90px;
  background-color: transparent;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  border: 2px solid yellow;
  border-style: outset;
  padding: 4px;
  float:left;
  margin:10px;
  opacity: .9;

}
#loginSubmitO{
  color:orange;
  opacity:.9;
  height: 28px;
  width: 90px;
  position:relative;
  background-color: transparent;
  font-size: 13px;
  font-weight: bold;
  border: 2px solid yellow;
  border-style: outset;
  text-align: center;
  float: right;
  padding: 4px;
  margin-left:10px;
}



