body{ background-color: black;
 color: white;
 opacity: 20%

}



.gamegrid{ position: relative;
  padding: 5%;
  width: 500px;
  height: 500px;
  border-collapse: 1px;
  margin: auto;
  text-align: center;
  background-color: #7f8c8d;
  border-radius: 15%;

}


.container{
  display: inline-block;
  position: relative;
  margin: auto;
  width: 150px;
  height: 150px;
  background: url('../img/soundwave2.jpg');

  background-position: center;
  background-size: 135px;
  border-radius: 50%;

  overflow: hidden;
  cursor: pointer;
  border: purple;
  border-width: 1px;
}

.container .circles{
  background: rgba(0,0,0,.5);
  position: absolute;
  margin: auto;
  width: 0px;
  height: 0px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;

  opacity: 20%;
  transition: .7s ease;
  transition: .7s ease;



}

.container:hover .circles{
  opacity: 100;
  width: 100%;
  height: 100%;


}
