<html ng-app="ttcApp">
	<head>
		<meta charset="utf-8">
		<title>Tic Tac Toe</title>
		<!-- CSS Style -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
    <!-- Angular -->
    <script src="js/angular.min.js"></script>
    <!-- Firebase -->
    <script src="js/firebase.js"></script>
    <!-- AngularFire -->
    <script src="js/angularfire.js"></script>
    <!-- Javascript -->
    <script type="js/app.js"></script>
    <script src="js/MainController.js"></script>

	</head>

	<body ng-controller="mainController as main">
  <!-- Hidden Game Results Page -->

    <div ng-show= "main.game.Winner === '1'" class= "gameEnd"> X : {{main.nameX}} IS THE WINNER<br/>
        <button ng-click= "main.newGame()" id= "playAgain">PLAY AGAIN?</button></div>
    <div ng-show= "main.game.Winner === '2'" class= "gameEnd"> O : {{main.nameO}} IS THE WINNER <br/>
        <button ng-click= "main.newGame()"id= "playAgain">PLAY AGAIN?</button></div>
    <div ng-if= "main.game.spaces === 0" class= "tieGameEnd" ng-hide="gameEnd"> TIE GAME <br/>
        <button ng-click= "main.newGame()" id= "playAgain">PLAY AGAIN?</button></div>

  <!-- Main Game Grid  -->

    <div class= "animationgrid">
      <div class = "gamegrid">
  		  <div class="container" ng-repeat="circle in main.game.board track by $index">
   			  <div class ="circles" ng-click="main.playerMove($index)">{{circle.circle}}
          </div>
        </div>
      </div>
    </div>

  <!-- Player Name, Score, and Reset-->

    <div id="header">TIC -TAC -TOE</div>
    <div class="lowerthird">
      <div class="button">
        <button ng-click = "main.resetScore()" id= "Reset"> RESET GAME </button>
      </div>
        <div id= "playerOnePoints">  {{main.nameX}}  X : {{main.game.playerOnePoints}}</div>
        <div id= "playerTwoPoints">  {{main.nameO}} O : {{main.game.playerTwoPoints}}</div>
      <div class="loginWrapper">
        <input id="loginNameX" type="text" placeholder="Enter Name" ng-model="main.nameX" ng-hide="loginShowX">
        <button id="loginSubmitX" ng-hide="loginShowX" ng-click= "loginShowX= 'false'">SUBMIT</button>
        <button id="loginSubmitO" ng-hide="loginShowO" ng-click= "loginShowO= 'false'">SUBMIT</button>
        <input id="loginNameO" type="text" placeholder="Enter Name" ng-model="main.nameO" ng-hide="loginShowO">
      </div>
    </div>




	</body>

</html>