<html ng-app="ttcApp">
	<head>
		<meta charset="utf-8">

		<title>Tic Tac Toe</title>
		<!-- CSS Style -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
 		<!-- JS -->
    <script type="js/app.js"></script>
    <!-- Angular -->
 		<script src="js/angular.min.js"></script>
    <script src="js/MainController.js"></script>
		<!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
		<!-- Angular Fire -->
    <script src="js/angularfire.js"></script>

	</head>

	<body ng-controller="mainController as main">


  <!-- Hidden Game Results Page -->
      <div ng-show= "main.Winner === '1'" class= "endGame"> Player One Wins <br/>
          <button ng-click= "main.newGame()" id= "playAgain">Play Again</button></div>
      <div ng-show= "main.Winner === '2'" class= "endGame"> Player Two Wins <br/>
          <button ng-click= "main.newGame()"id= "playAgain">Play Again</button></div>
        <div ng-show= "main.spaces === 0" class= "endGame"> Tie Game <br/>
          <button ng-click= "main.newGame()" id= "playAgain">Play Again</button></div>

  <!-- Main Game Grid  -->
    <div class= "animationgrid">
      <div class = "gamegrid">
  		  <div class="container" ng-repeat="circle in main.board track by $index">
   			  <div class ="circles" ng-click="main.playerMove($index)">
        {{circle.circle}}
   			  </div>

        </div>
        </div>
    </div>





    <div class="button">
      <button ng-click = "main.newGame()" id= "Reset">Reset Game</button></div>
      <div id="header"><h6>Tic-Tac-Toe</h6></div>



    </div>









	</div>
	</div>





	</body>

</html>